.row
	.col-lg-6
		= image_tag @listing.listing_image.url, class: "img-thumbnail"
	.col-lg-6
		%h2= @listing.name
		%p= @listing.price
		%p= @listing.description
		= link_to "Buy It Now", new_listing_order_path, class: "btn btn-success"
.row
	.col-lg-6
		= link_to "Back", root_path